@media only screen and (max-width: 450px) {
    
.upper{
    flex-direction: column !important;
    align-items: center !important;
}

.memv{
    width: 200px !important;
    height: 200px !important;
}

.texto{
        color:blue
}

.nome{
    font-size: 150% !important;
}

.secao{
    padding: 10px;
}

.geral.informacoes{
    flex-direction: column !important;
}

.secao.informacoes{
    width: 120%;
}

.extra{
    width: 120% !important;
}

.secao.favo{
    width: 140%;
}

.fav{
    width: 200% !important;
    line-height: 120% !important;
}

.coisasfav{
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    width: 60% !important;
}

.respostas{
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    font-size: 90% !important;
    width: 72% !important;
}

.fotored{
    width: 70px !important;
    height: 70px !important;

} 


}

body {
        background: rgba(1, 1, 26, 0.856);  

        background-image: linear-gradient(to bottom right, rgb(1, 1, 26), rgb(5, 5, 161));
        width: 100% ;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
}

img {
        border-radius: 5%;
    }

h1 {
        color: white;
        text-align: center;
        width: 30%;

}

p {
        font-family: verdana;
        font-size: 120%;
}


.texto{
        color:white;
    }

.secao{
        color: red;
        border-style: double;
        border-radius: 10%;
        font-size: 220%;
        padding: 10px;
        width: 50%;
    }

.nome{
        color: white;
        text-align: center;
        font-size: 400%; 
        width: 200%;
    }

.sobre{
        width: 70%;
        color:white;
        text-align: justify;
    }

.memv{
        max-width: 100%;
        height: 512px;

    }

.extra{
        width: 65%;
        text-align: justify;
        color: white;
    }

.fav{
        line-height: 70%;
        color: white;
    }

.geral{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.divulgacao{
    display: flex;
    flex-direction: row;
    margin: 30px;
}

.textao{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.upper{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}

.meio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fotored{
    width: 100px;
    height: 100px;
    margin: 10px;
}